<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
    <script src="{{ 'index.js' | asset_url }}" defer></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": {{ shop.name | json }},
        {% if settings.logo -%}
          "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
        {%- endif %}
        "url": {{ request.origin | append: page.url | json }}
      }
    </script>
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
  </body>
</html>
